*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:sans-serif ;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100%;
    background-color: rgb(243, 243 ,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.instagram-wrapper{
    display: flex; /*diplay flex alinha todo o conteudo do container em linha*/
    align-items: center; /*alinhamento vertical dos itens */
    justify-content: start; /*no eixo x ele ficara no centro, entre as bordas (betewee) ou start(iniciando na tela) */ 
    width: 60%;
    height: 100vh;
}
.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}
.instagram-phone img{
    height: 50rem;

}